segmmentanything/checkpoints/*
AnnotationScheme/orginizator.py
AnnotationScheme/results_coco_format
.DS_Store
__pycache__/annotation_results/
annotation_results/
*.py[cod]
results_coco_format/images/
.DS_Store
results_coco_format/*.pkl
__pycache__/
*.py[cod]
demo_data/**/*.MP4
