# This is a sample .gitignore file for a Python project
# It ignores common Python artifacts, virtual environments, and IDE files.
AnnotationScheme/*/
segmmentanything/checkpoints/*
AnnotationScheme/orginizator.py

